/* Adapted from https://vmar76.medium.com/using-css-animations-to-visualize-breathing-techniques-7a20ee0aed5a */

.anim-circle {
    transform: scale(0.8);
    transform-origin: top;
    text-align: center;
    padding: 2vw;
    color: black;
    margin: auto;
    margin-top: 30vh;
    margin-right: 45vw;
    margin-bottom: 55vh;
   
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(188, 237, 243, 0.889);
    animation: breathe 10s linear infinite;
  }
  
  @keyframes breathe {
    0% {
   box-shadow: 0 0 0 25px rgba(188, 237, 243, 0.3), 0 0 0 50px rgba(188, 237, 243, 0.3), 0 0 0 65px rgba(188, 237, 243, 0.3), 0 0 0 80px rgba(188, 237, 243, 0.3), 0 0 0 95px rgba(188, 237, 243, 0.3);
    }
    50% {
   box-shadow: 0 0 0 35px rgba(188, 237, 243, 0.3), 0 0 0 70px rgba(188, 237, 243, 0.3), 0 0 0 95px rgba(188, 237, 243, 0.3), 0 0 0 120px rgba(188, 237, 243, 0.3), 0 0 0 145px rgba(188, 237, 243, 0.3);
    }
    100% {
   box-shadow: 0 0 0 25px rgba(188, 237, 243, 0.3), 0 0 0 50px rgba(188, 237, 243, 0.3), 0 0 0 65px rgba(188, 237, 243, 0.3), 0 0 0 80px rgba(188, 237, 243, 0.3), 0 0 0 95px rgba(188, 237, 243, 0.3);
    }
   }
   .breathingTitle{
    text-align: center;
    font-size: 2.5vw;
    font-weight: 8000;
    margin-top: 5vh;
   }
   .breathingInstructions{
    text-align: center;
    font-size: 1vw;
    font-weight: 5000;
    margin-top: 5vh;
    margin-bottom: -5vh;;
   }

   .card{
      width:22vw;
      margin-bottom: 7vh;
      background-color: rgb(95, 151, 123, 0.6);
      color: white;
     box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.5);
   }
   .card-title {
    font-size: 1.2vw;
  }
  
  .card-subtitle {
    font-size: 1vw;
  }
  
  .card-text {
    font-size: 0.9vw;
  }
  
  .card-link {
    font-size: 0.9vw;
    color: #3d4f72;
    font-weight: 800;

  }
  .card-link:hover {
    color: #4e9f91;
    
    text-decoration: none;
  }
   .resourceCards{
    
    margin-left: 8vw;
   }

   .tab.active {
    background-color: rgb(95, 151, 123, 1) !important; 
    color: white !important; 
  }
  .tab{
    color: white !important;
    background-color: rgb(95, 151, 123, 0.1) !important; 
    border: 1px solid rgba(44, 41, 41, 0.5) !important; 
    font-size: 1.2vw !important;
    padding: 0.2vw !important;
  }
  .tab:hover {
    background-color: rgb(95, 151, 123, 0.5) !important;
    transition: ease-in-out 0.3s;
  }
.resourcesContainer{
  overflow-y: auto;
  margin-top: 2vh;
  max-height: 85vh;
  
}

