.anim-circle {
    text-align: center;
    padding: 2vw;
    color: black;
    margin: auto;
    margin-top: 30vh;
    margin-right: 45vw;
    margin-bottom: 55vh;
   
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(188, 237, 243, 0.889);
    animation: breathe 10s linear infinite;
  }
  
  @keyframes breathe {
    0% {
   box-shadow: 0 0 0 25px rgba(188, 237, 243, 0.3), 0 0 0 50px rgba(188, 237, 243, 0.3), 0 0 0 65px rgba(188, 237, 243, 0.3), 0 0 0 80px rgba(188, 237, 243, 0.3), 0 0 0 95px rgba(188, 237, 243, 0.3);
    }
    50% {
   box-shadow: 0 0 0 35px rgba(188, 237, 243, 0.3), 0 0 0 70px rgba(188, 237, 243, 0.3), 0 0 0 95px rgba(188, 237, 243, 0.3), 0 0 0 120px rgba(188, 237, 243, 0.3), 0 0 0 145px rgba(188, 237, 243, 0.3);
    }
    100% {
   box-shadow: 0 0 0 25px rgba(188, 237, 243, 0.3), 0 0 0 50px rgba(188, 237, 243, 0.3), 0 0 0 65px rgba(188, 237, 243, 0.3), 0 0 0 80px rgba(188, 237, 243, 0.3), 0 0 0 95px rgba(188, 237, 243, 0.3);
    }
   }
   .breathingTitle{
    text-align: center;
    font-size: 2.5vw;
    font-weight: 8000;
    margin-top: 5vh;
   }
   .breathingInstructions{
    text-align: center;
    font-size: 1vw;
    font-weight: 5000;
    margin-top: 5vh;
   }

   .card{
    width:20vw;
    margin-bottom: 10vh;
    background-color: rgb(95, 151, 123);
    color: white;
     box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.5);
   }

   .resourceCards{
    
    margin-left: 10vw;
   }

   .tab.active {
    background-color: rgb(95, 151, 123, 1) !important; /* Change background to grey */
    color: white !important; /* Change text color if needed */
  }
  .tab{
    color: white !important;
    background-color: rgb(95, 151, 123, 0.1) !important; /* Change background to grey */
    border: 1px solid rgba(44, 41, 41, 0.5) !important; /* Adjust border color if necessary */
  }
  .tab:hover {
    background-color: rgb(95, 151, 123, 0.5) !important;/* Change background to grey */
    transition: ease-in-out 0.3s;
  }