body {
  background: linear-gradient(191deg,#2a5d61 20.63%, #2c5256 26.84%, #2e2e3a 49.56%, #33365a 72.73%, #34385e 73.06%, #3c3c46 85.87%
  );
  background-color: #123c32;
  background-image: url("../assets/wallpaper5.jpg");
  background: linear-gradient(180deg, #30848a 0%, #264d58 40%, #27273e 100%);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.line {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  animation: drop 10s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.5, 0.2, 0.67);
}

.line:nth-child(1) {
  margin-left: -25%;
}

.line:nth-child(1)::after {
  animation-delay: 1s;
}

.line:nth-child(3) {
  margin-left: 25%;
}

.line:nth-child(3)::after {
  animation-delay: 2.5s;
}
.line:nth-child(4) {
  margin-left: 45%;
}

.line:nth-child(4)::after {
  animation-delay: 4s;
}
.line:nth-child(5) {
  margin-left: -45%;
}

.line:nth-child(5)::after {
  animation-delay: 5.5s;
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
/* Animation adapted from https://codepen.io/osorina/pen/PQdMOO */

.title {
  margin-top: 5vh;
  font-size: 3.5vw;
  letter-spacing: 1vw;
}
.loginForm {

  width: fit-content;
  height: 70vh;
  max-width: 50vw;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: transparent;
  align-items: center;
  backdrop-filter: blur(10px);
  justify-content: center;
  border-radius: 10px;
  position: absolute;
  top: 19vh;
  left: 32.5vw;
  box-shadow: 2px 2px 12px rgb(45, 44, 44);
  padding: 5vw;
  color: white;
  transition: all 0.2s ease-in-out;

  
}

.loginForm:hover {
  box-shadow: 4px 4px 16px rgb(162, 162, 162);
  background-color: rgb(115, 115, 115, 0.1);
}

h1 {
  top: 0px;
  text-align: center;
}

.form-control {
  padding: 10px;
  margin-top: 20px;
  border-radius: 2px;
  border: none;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.15);
  
  outline: none;

  font-weight: 1000;
}
.auth-form-control{
  width: 25vw;
  font-size: 0.8vw !important;
}

.formButton {
  display: block;
  width: 40%;
  padding: 16px;
  margin: auto;
  margin-top: 10%;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #156757;
  font-size: 0.9vw;
}

.formButton:hover {
  background-color: #0a3b31;
}

.formTitle {
  margin-top: -10%;
  margin-bottom: 17%;
  font-size: 2.5vw;
}
.errorReason {
  color: rgb(255, 0, 0);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  font-size: 0.9vw;
}
.reminder{
  color: rgb(254, 135, 0);
  display: flex;
  justify-content: center;
  font-size: 0.6vw;
}
.otherFormMessage {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  font-size: 0.9vw;
}

.otherFormMessage .nav-link {
  color: #884cae;
  font-weight: bold;
}

.otherFormMessage .nav-link:hover {
  color: #2f0a46;
}

.loadingComponent {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.login-logo {
  background-image: url("../assets/mascot.PNG");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 20vh;
  left: 4vw;
  width: 25vw;
  height: 60vh;
  display: none;
}

@media (max-width: 600px) { 
  .modal-content {
    transform: scale(1);
    margin: 10px;
  }

  .form-control {
    font-size: 16px !important;
  }

  label {
    font-size: 18px;
  }

  .modal-title {
    font-size: 24px;
  }
  .loginForm{
    width: 90vw;
    max-width: 90vw;
    height: 70vh;
    top: 17vh;
    left: 5vw;
  }
  .login-logo {
    display: none;
  }
  .title {
    font-size: 10vw;
    letter-spacing: 0.5vw;
  }
  .formButton {
    width: 80%;
    font-size: 3vw;
  }
  .formTitle {
    font-size: 7vw;
  }
  .errorReason {
    font-size: 3vw;
  }
  .otherFormMessage {
    font-size: 3vw;
  }
  .auth-form-control{
    width: 80vw;
    font-size: 3vw !important;
  }
}