.gratitudeCard{
    background-color: rgb(95, 151, 123, 0.7);
    border-radius: 8px;
    padding: 16px;
    width:60%;
    margin-top: 1vh;
    font-weight: bold;
    
}

.gratitude_list{
    background: rgb(194, 194, 194, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    width:90vw;
    margin: auto;
    margin-top: 2vh;
    border-radius: 10px;
    height: 75vh;
    overflow: scroll;
    background: rgba(130, 163, 175, 0.3);
    font-size: 0.9vw;
    backdrop-filter: blur(30px);

}

.gratitudeCardHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
}
.gratitudeButtons{
    display: flex;
    gap:1vw;
}
.entryinfo{
    font-weight: normal;
    color: rgb(33, 33, 33);
    font-size: 0.7vw;
}
.noGratitude{
    margin: auto;
}