
.gratitudeCard{
    background-color: rgb(95, 151, 123, 0.45);
    border-radius: 8px;
    padding: 0.8vw;
    width:60%;
    margin-top: 1vh;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.gratitude_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:90vw;
    height: 80vh;
    margin: auto;
    margin-top: 2vh;
    border-radius: 10px;
    overflow: scroll;
    background: rgba(130, 163, 175, 0.2);
    font-size: 0.9vw;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.15);
}

.gratitudeCardHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.gratitudeButtons{
    display: flex;
    gap:1vw;
    margin-bottom: 1%;
}
.entryinfo{
    background: rgba(255, 255, 255, 0.1);
    font-weight: normal;
    color: rgb(33, 33, 33);
    font-size: 0.9vw;
    display: block;
    background: rgba(255, 255, 255, 0.1);
    padding: 0.7vw;
    border-radius: 8px;
    margin-top: 0.5rem;
    font-size: 0.8vw !important;
}
.noGratitude{
    margin: auto;
}
.postedTitle{
    font-size: 1.4vw;
}
.gratButton{
    font-size: 0.8vw;
}
.addGratitudeButton{
    position: fixed;
    left: 11.5vw;
    top: 50vh;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    transition: 0.2s ease;
    background-color: rgb(95, 151, 123, 0.8) !important;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vw;
}

.addGratitudeButton:hover {
    background-color: rgb(68, 115, 92) !important;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  }


  @media (max-width: 600px) {
    .gratitudeCard {
      width: 90%;
      padding: 15px;
   
    }
  
    .gratitude_list {
      width: 95vw;
      height: 75vh;
      font-size: 3vw;
    }
  
    .entryinfo {
      font-size: 3vw !important;
      padding: 2vw;
      margin-top: 1vh;
    }
  
    .postedTitle {
      font-size: 4vw;
    }
  
    .gratButton {
      font-size: 3vw;
    }
  
    .addGratitudeButton {
      position: fixed;
        left: auto;
      right: 5vw;
      bottom: 5vh;
      top: auto;
      width: 15vw;
      height: 15vw;
      font-size: 7vw;
    }
  
    .noGratitude h2 {
      font-size: 5vw;
      text-align: center;
    }
  
    .noGratitude p {
      font-size: 3.5vw;
      text-align: center;
    }
  }