.homePage{
    background-image: url("../assets/clockwallpaper.jpg");
    background-image: url("../assets/wallpaper1flipped.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(180deg, #4A4A4A 0%, #2C2C2C 100%);
    background: linear-gradient(180deg, #2C3E50 0%, #1B263B 100%);
    background: linear-gradient(180deg, #30848a 0%, #264d58 40%, #27273e 100%);
    background-image: url("../assets/wallpaper3.jpg");
  
    background-position:top -50px left;
    background-color: #33b0ae;
    background-blend-mode:multiply;
    background: linear-gradient(180deg, #30848a 0%, #264d58 40%, #27273e 100%);
    
    width:100vw;
    height: 100vh;
}


 .HomeBoxContainer{
  width: 70vw;
  height: 75vh;
  flex-shrink: 0;
  background: rgba(143, 143, 143, 0.40);
  background: rgba(74, 129, 146, 0.4);
  background: rgba(143, 143, 143, 0.2);
  backdrop-filter: blur(30px);
  border-radius: 0px 70px 70px 0px;
  box-shadow: 2px 2px 12px rgb(45, 44, 44);
  display: flex;
  justify-content: center;
  color: black;
  overflow: scroll;
  

 }
 .sideBar{
  width:15%;
  background-color: #434343;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
 }
 .dashTime{
  margin-bottom: 150%;
  width:90%;
  padding:1.5vw;
  border-radius:20px;
  background-color: #264d58;
  font-size: 1.2vw;
  text-align: center;
  font-weight: 1000;
  background: #82A3AF;
  
  color: #434343;
 
 }
 
 .dashDate{
  font-size: 1.5vw;
  margin-top: 10%;
  color: #82A3AF;
  font-weight: 1000;
 }
  .HomeBox{
    width: 85%;
    flex-shrink: 0;

    background: rgba(74, 129, 146, 0.4);
    background: rgba(143, 143, 143, 0.2);
    background: rgba(130, 163, 175, 0.5);

    backdrop-filter: blur(30px);
    border-radius: 0px 70px 70px 0px;
    box-shadow: 2px 2px 12px rgb(45, 44, 44);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8vw;
    color: black;
    overflow: scroll;
    
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .buttonHolders{
    display: flex;
    width:70vw;
    justify-content: space-between;
    margin: -1vw;
    
  }
  .homeQuote{
    font-size: 1.5vw;
    padding: 0.5vw;
    margin: 2.5vw;
    border-radius: 10px;
    width:15vw;
    /* background-color: #1B263B; */
    border: none;
    position: absolute;  /* Absolute positioning to place it anywhere */
    top: 45vh;  /* Distance from the top */
    right: 5vw; /* Distance from the right */
    text-align: left; /* Align text to the right */
  }
  .homeButton{

    font-size: 2vw;
    padding: 0.5vw;
    margin: 2.5vw;
    border-radius: 10px;
    background-color: #1B263B;
    background: #82A3AF;
    color: #434343;
    font-weight: 600;
    border: none;
    
  }
  .HomeBoxButton{
    position: absolute;
    bottom: 2.5vh;
    left:2vw;
    padding:1vw;
  }
  .HomeBoxEdit{
    position: absolute;
    bottom: 2.5vh;
    right:2vw;
    padding:1vw;
  }
  .HomeBoxTitle{
    position: absolute;
    font-size: 3vw;
    top:3.5vh;
    left:3vw;

  }
  .HomeBoxTask{
    position: absolute;
    font-weight: 800;
    font-size: 3vw;
    top:21vh;
    margin: auto;
  }
  .HomeBoxDescriptionn{
    position: absolute;
    font-size: 1.5vw;
    top:33vh;
    margin: auto;
  }
  .HomeBoxTime{
    position: absolute;
    font-size: 1.5vw;
    top:45vh;
    margin: auto;
  }
  .homeTitle {
    font-size: 4.5vw;
    letter-spacing: 4px;
    color: white;
    position: absolute;  /* Absolute positioning to place it anywhere */
    top: 8vh;  /* Distance from the top */
    right: 3vw; /* Distance from the right */
    text-align: left; /* Align text to the right */
    
}
  /* .homeTitle {
    font-size: 50px;
    letter-spacing: 3px;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: left; /* Text aligns to the left within the container 
    display: flex;
    flex-direction: column;
} ''*/

.nextTask{
  list-style: none; 

}
