.homePage{
    background: linear-gradient(180deg, #30848a 0%, #264d58 40%, #27273e 100%);
    width:100vw;
    height: 100vh;
}


 .HomeBoxContainer{
  width: 70vw;
  height: 75vh;
  flex-shrink: 0;
  border-radius: 0px 56px 56px 0px;
  display: flex;
  justify-content: center;
  color: black;
  overflow: scroll;
  box-shadow: 0.5px 2,5px 8px rgb(45, 44, 44);
  

 }  
.HomeBox{
    width: 85%;
    flex-shrink: 0;


    background: rgba(130, 163, 175, 0.3);

    backdrop-filter: blur(30px);
    border-radius: 0px 56px 56px 0px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8vw;
    color: #d4d4d4;
    overflow: scroll;
    
  }
 .sideBar{
  width:15%;
  background-color: rgb(67, 67, 67, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
 }
 .dashTime{
  margin-bottom: 120%;
  width:85%;
  padding:1.5vw;
  border-radius:20px;
  background-color: #264d58;
  font-size: 2vw;
  text-align: center;
  font-weight: 1000;
  background: #82A3AF;
  color: #434343;
 }
 
 .dashDate{
  font-size: 1.5vw;
  margin-top: 21%;
  color: #82A3AF;
  font-weight: 1000;
 }

  ::-webkit-scrollbar {
    display: none;
  }

  .homeQuote{
    font-size: 1.3vw;
    padding: 0.5vw;
    margin: 2.5vw;
    border-radius: 10px;
    width:17vw;
    border: none;
    position: absolute;  
    top: 71vh; 
    right: 3vw; 
    text-align: left; 
    font-style: italic;
  }

  .HomeBoxButton{
    background: none;
    color: #242424;
   
    position: absolute;
    bottom: 2.5vh;
    left:2vw;
    font-size: 1.7vw;
  }
  .HomeBoxEdit{
    background: none;
    position: absolute;
    bottom: 2.5vh;
    right:2vw;
    font-size: 1.7vw;
  }
  .buttonHolders{
    position:absolute;
    right:9.5vw;
    top:23vh;
    display: flex;
    flex-direction: column;
    
  }
  .homeButton{
    
    font-size: 3.5vw;
    padding: 0.5vw;
    margin: 2.5vw;
    border-radius: 30%;
    width:6vw;
    height:6vw;
    background-color: #1B263B;
    background: rgb(95, 151, 123);
    color: rgb(43, 43, 43);
    font-weight: 600;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 0vh;
  }
  .homeButton:hover{
    background-color: rgb(68, 115, 92);
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.5);
  }
  
  .HomeBoxTitle{
    position: absolute;
    font-size: 2.5vw;
    top:3.5vh;
    left:3vw;
    font-weight: 400;

  }
  .HomeBoxTask{
    position: absolute;
    font-weight: 800;
    font-size: 3vw;
    top:18vh;
    margin: auto;
  }
  .HomeBoxDescriptionn{
    position: absolute;
    font-size: 1.5vw;
    top:33vh;
    margin: auto;
    height:auto;
    /* overflow:scroll; */
    margin-top: -4vh;
    padding:1vw;
    width: 45vw;
    border-radius: 20px;
    
  }
  .HomeBoxTime{
    position: absolute;
    font-size: 1.5vw;
    top:45vh;
    margin: auto;
    background-color: rgb(201, 201, 201, 0.05);
    padding:1vw;
    width: 20vw;
    border-radius: 20px;
    /* font-style: italic; */
    font-weight: 600;
    margin-top: 2vh;
  }
  .homeTitle {
   
    margin-top: 1vw;
    font-size: 2.5vw;
    letter-spacing: 4px;
    color: white;
    margin-left: -70vw;
    margin-bottom: 1.5vw;  
   
    
}


.nextTask{
  list-style: none; 
  

}
h2{
  font-size: 2vw;
}
.HelpButton{
  color: rgb(198, 216, 204);
  position: absolute;
  left: auto;
  right: 0.5vw;
  top: 9vh;
}

@media (max-width: 768px) {
  .HomeBoxContainer {
    flex-direction: column;
    width: 95vw;
    margin: auto;
    height: auto;
    border-radius: 20px;
   
    
  }

  .sideBar {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 3vw;
  }

  .dashDate, .dashTime {
    font-size: 4vw;
    margin: 0;
    padding: 2vw;
    width: auto;
  }

  .HomeBox {
    width: 100%;
    padding: 2vw;
    border-radius: 0px 0px 0px 0px;
    height: 50vh;
  }

  .HomeBoxTitle {
    font-size: 5vw;
    top: 2vh;
    left: 33vw;
  }

  .HomeBoxTask {
    font-size: 6vw;
    top: 17vw;
    left: 36vw;
  }

  .HomeBoxDescriptionn {
    font-size: 4vw;
    top: 42vw;
    left: 5vw;
    width: 90%;
   
  }

  .HomeBoxTime {
    font-size: 4vw;
    width: 80%;
    text-align: center;
    top: 63vw;
    left: 10vw;
  }

  .HomeBoxButton, .HomeBoxEdit {
    font-size: 5vw;
  }

  .buttonHolders {
    flex-direction: row;
    width: 90%;
    top: 77vh;
    left: 5vw;
    justify-content: space-between;
  }

  .homeButton {
    width: 17vw;
    height: 17vw;
    font-size: 9.5vw;
   
  }

  .homeQuote {
    width: 90%;
    font-size: 4vw;
    text-align: center;
    top: 88vh;

  }

  .homeTitle {
    margin-left: 0;
    margin-bottom: 2vh;
    margin-top: 2vh;
    text-align: center;
    font-size: 5vw;
  }

  .HelpButton {
    top: 8.5vh;
    right: 90vw;
    font-size: 5vw;
  }
  .noTaskAlert{
    font-size: 4vw;
    text-align: center;
  }
}
