.homePage{
    background: linear-gradient(180deg, #30848a 0%, #264d58 40%, #27273e 100%);
    width:100vw;
    height: 100vh;
}


 .HomeBoxContainer{
  width: 70vw;
  height: 75vh;
  flex-shrink: 0;
  border-radius: 0px 56px 56px 0px;
  display: flex;
  justify-content: center;
  color: black;
  overflow: scroll;
  box-shadow: 0.5px 2,5px 8px rgb(45, 44, 44);
  

 }  
.HomeBox{
    width: 85%;
    flex-shrink: 0;


    background: rgba(130, 163, 175, 0.3);

    backdrop-filter: blur(30px);
    border-radius: 0px 56px 56px 0px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8vw;
    color: #d4d4d4;
    overflow: scroll;
    
  }
 .sideBar{
  width:15%;
  background-color: rgb(67, 67, 67, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
 }
 .dashTime{
  margin-bottom: 150%;
  width:90%;
  padding:1.5vw;
  border-radius:20px;
  background-color: #264d58;
  font-size: 1.2vw;
  text-align: center;
  font-weight: 1000;
  background: #82A3AF;
  
  color: #434343;
 
 }
 
 .dashDate{
  font-size: 1.5vw;
  margin-top: 10%;
  color: #82A3AF;
  font-weight: 1000;
 }

  ::-webkit-scrollbar {
    display: none;
  }

  .homeQuote{
    font-size: 1.5vw;
    padding: 0.5vw;
    margin: 2.5vw;
    border-radius: 10px;
    width:17vw;
    border: none;
    position: absolute;  
    top: 68vh; 
    right: 3vw; 
    text-align: left; 
  }

  .HomeBoxButton{
    background: none;
    color: #242424;
    position: absolute;
    bottom: 2.5vh;
    left:2vw;
    font-size: 1.7vw;
  }
  .HomeBoxEdit{
    background: none;
    position: absolute;
    bottom: 2.5vh;
    right:2vw;
    font-size: 1.7vw;
  }
  .buttonHolders{
    position:absolute;
    right:9.5vw;
    top:21vh;
    display: flex;
    flex-direction: column;
    
  }
  .homeButton{
    
    font-size: 3.5vw;
    padding: 0.5vw;
    margin: 2.5vw;
    border-radius: 30%;
    width:6vw;
    height:6vw;
    background-color: #1B263B;
    background: rgb(95, 151, 123);
    color: #242424;
    font-weight: 600;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 0vh;
  }
  .homeButton:hover{
    background-color: rgb(68, 115, 92);
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.5);
  }
  
  .HomeBoxTitle{
    position: absolute;
    font-size: 3vw;
    top:3.5vh;
    left:3vw;

  }
  .HomeBoxTask{
    position: absolute;
    font-weight: 800;
    font-size: 3vw;
    top:21vh;
    margin: auto;
  }
  .HomeBoxDescriptionn{
    position: absolute;
    font-size: 1.5vw;
    top:33vh;
    margin: auto;
  }
  .HomeBoxTime{
    position: absolute;
    font-size: 1.5vw;
    top:45vh;
    margin: auto;
  }
  .homeTitle {
    font-size: 3vw;
    letter-spacing: 4px;
    color: white;
    margin-left: -65vw;
    margin-bottom: 1vw;    
    
}
  /* .homeTitle {
    font-size: 50px;
    letter-spacing: 3px;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: left; /* Text aligns to the left within the container 
    display: flex;
    flex-direction: column;
} ''*/

.nextTask{
  list-style: none; 

}
h2{
  font-size: 2vw;
}
.HelpButton{
  position: absolute;
  left: auto;
  right: 0vw;
  top: 8vh
}