.custom-nav{
    width: 100vw;
  }
  
  header {
    background-color: rgb(24, 24, 24,);
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    padding: 1vh 2vw;
    background: rgba(64, 64, 64, 0.8);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    max-height: 9vh;
    margin-bottom: 1vh;
  }
  
  
  
  .custom-nav a {
    color: white;
    text-decoration: none;
    margin-left: 2vw;
    font-size: 1.3vw;
    
  }
  
  .navbar-toggler {
    background-color: transparent !important;
    border: none;
  }
  
  
  .custom-nav a:hover {
    color: rgb(18, 86, 78) !important;
    font-style: italic;
    transition: 0.3s ease;
  }
  
.logoutButton{
    color: rgba(64, 64, 64, 1) !important;
}