.custom-nav{
    width: 100vw;
  }
  
  header {
    background-color: rgb(24, 24, 24,);
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    padding: 1vh 2vw;
    background: rgba(64, 64, 64, 0.8);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px);
    max-height: 9vh;
    margin-bottom: 1vh;
    
  }
  
  header h1{
    font-size: 2vw;
  }

  .custom-nav a {
    color: white;
    text-decoration: none;
    margin-left: 1vw;
    font-size: 1.3vw; 
  }
  
  .navbar-toggler {
    background-color: transparent !important;
    border: none;
  }
  
  .custom-nav a:hover {
    transition: 0.3s ease-out;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
  }
  
.logoutButton{
    color: rgba(64, 64, 64, 1) !important;
  
}
.HelpButton {
  font-size: 2vw;
}

.logo {
  width: 6.8vw;
  height: 13vh;
  margin-left: 1rem;
  background-image: url("../assets/mascot.PNG");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
}
