
.pomodoroContainer{

    color:white; 
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
    font-size: 6em;
}
.timerWriting{
    margin-top: -24vh;
    font-size: 1.8vw;
    background: rgb(95, 151, 123,0.4);
    padding: 1.5vw;
    border-radius: 3vw;
    min-height:1.3em;
    color: rgb(208, 208, 208);
}
.timer{
    
    text-align: center;
    padding:3vw;
    width:30vw;
    border: 1px solid white;
    background: rgba(72, 72, 85, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 100px;
    font-size: 6vw;
    font-weight: bolder;
    margin-left: -30vw;
}

.study-logo {
    position: fixed;
    left:69vw;
    background-image: url("../assets/mascotThinking.PNG");
    background-size: contain;
    background-repeat: no-repeat;
    width: 25vw;
    height: 30vw;
  }

  @media (max-width: 600px) {
    .timerWriting {
      font-size: 4vw;
      padding: 4vw;
        border-radius: 5vw;
        margin-top: -12vh;
    }
  
    .timer {
      width: 70vw;
      font-size: 10vw;
      padding: 4vw;
      position: absolute;
      top: 25vh; 
      left: 45vw;
     
    }
  
    .study-logo {
      width: 60vw;
      height: 80vw;
      top: 60vh;
      left: 40vw;
    }
    .studyPage{
      overflow-y: auto;
    }
  }
  